*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  align-items: end;
  flex-direction: row;
  gap: 30px;
  max-width: 1140px;
}

.result {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.search-form {
  display: flex;
  align-items: end;
  justify-content: space-between;
  flex-direction: row;
}
.content__list {
  height: 297px;
  overflow-y: auto;
  scrollbar-width: none;
  margin-top: 23px;
  max-width: 400px;
  position: relative;
}
.result__video-container {
  width: 711px;
  margin-bottom: 19px;
  height: 387px;
  position: relative;
}
.result__video {
  height: auto;
  max-height: 100%;
  width: 711px;
  object-fit: cover;
}
.content__list-item:not(:last-child) {
  margin-bottom: 32px;
}
.content__video-card {
  display: flex;
  flex-direction: row;
}
.content__video-card-thumbnail {
  height: auto;
  max-height: 100%;
  width: 194px;
}
.content__video-card-description-container {
  flex-grow: 1;
}
.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
}
.title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  text-transform: uppercase;
  line-height: 70.5px;
}
.content__accent {
  color: #545050;
}
.content__card-link {
  text-decoration: none;
  color: white;
}
.content__video-card-title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}
.content__video-card-description {
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
}
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
.search-form__fieldset {
  border: none;
}
.search-form__label {
  display: inline-flex;
  flex-direction: row;
  padding: 1px;
}
.search-form__checkbox-list {
  display: flex;
  width: fit-content;
  gap: 15px;
  margin-top: 4px;
}

.search-form__textfield {
  appearance: none;
}
.text {
  appearance: none;
}
.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid white;
  margin-right: 5px;
  position: relative;
}
.button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: 1px solid white;
  background-color: #1b1919;
  font-weight: 700;
  white-space: nowrap;
  align-self: flex-end;
  cursor: pointer;
}
.search-form__textfield {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  background-color: #1b1919;
  width: 225px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid transparent;
}

.search-form__submit-button {
  padding: 5px 73.5px;
}
.more-button {
  padding: 5px 145px;
}

.search-form__textfield:active {
  border: 1px solid white;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
}

.search-form__label,
.search-form__textfield:focus-visible {
  outline: none;
}
.search-form__pseudo-checkbox:active::before {
  background: rgb(255, 255, 255);
  content: "";
  position: absolute;
  transition: 0.1s;
  inset: 1px;
}
.search-form__label:hover:has(> .search-form__checkbox) {
  text-decoration: underline;
  text-underline-offset: 4px;
}
.button:active {
  background-color: #545050;
  transition: 0.1s;
}
.button:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}
.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.content__video-card:active {
  background-color: #545050;
  transition: 0.1s;
}
.content__video-card:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.content__video-card:focus {
  outline: none;
}
.content__video-card:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}
